<div class="flex items-center h-screen w-full bg-teal-700">
	<div class="w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-sm md:mx-auto">
		<h1 class="block w-full text-center text-3xl mb-6 font-bold">New Recipe</h1>		
		<%= form_for(@recipe) do |f| %>
		  <div class="field-group">
		    <%= f.label :recipe_name, "Recipe Name", class: "field-label" %>
		    <%= f.text_field :recipe_name, class: "field", placeholder: "Pancakes" %>
		  </div>

		  <div class="field-group">
		    <%= f.label :serving_size, "Serving Size", class: "field-label" %>
		    <%= f.text_field :serving_size, class: "field", placeholder: "4" %>
		  </div>

		  <div class="field-group">
		    <%= f.label :ingredients, "Ingredients", class: "field-label" %>
		    <%= f.text_area :ingredients, class: "field", placeholder: "Eggs, Flour, etc." %>
		  </div>

		  <div class="field-group">
		    <%= f.label :directions, "Directions", class: "field-label" %>
		    <%= f.text_area :directions, class: "field", placeholder: "Mix well, fry up, and enjoy!" %>
		  </div>

		  <%= f.submit label: "Create Recipe", class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-4 px-8 rounded" %>
		<% end %>
	</div>
</div>