<% title(@recipe.recipe_name, 'Recipes')%>

<h2 class='text-4xl px-2 py-2 mb-2'><%= @recipe.recipe_name %></h2>

<div class='p-10 flex flex-col justify-center max-w-auto rounded bg-teal-200'>
  <div class='text-xs uppercase font-bold text-teal-500 mb-2'><%= 'Serving Size '%><%= @recipe.serving_size %></div>
  <div class='md:text-2xl text-xl font-bold text-teal-700'><%= @recipe.ingredients %> </div>
  <div class='mt-4 text-teal-800'><%= @recipe.directions %></div>
</div>
