<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      <% if content_for?(:title)%>
        <%= yield(:title) %>
      <% else %>
        Real Prairie Delights
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'icons8-cutlery-48.png' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  </head>

  <body class="flex flex col min-h-screen">
    <%= render 'layouts/header' %>
    <% flash.each do |key, message| %>
      <div class='bg-teal-300 border-t border-b border-teal-500 text-center text-teal-700 px-4 py-3' role='alert' <%= key %>>
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
